* text=auto !eol
/plugin.xml -text
prive/themes/basic/images/accueil-48.png -text
prive/themes/basic/images/activite-48.png -text
prive/themes/basic/images/add-16.png -text
prive/themes/basic/images/add-24.png -text
prive/themes/basic/images/administration-48.png -text
prive/themes/basic/images/administration-48.png2.png -text
prive/themes/basic/images/aide-16.png -text
prive/themes/basic/images/aide-24.png -text
prive/themes/basic/images/annonce-16.png -text
prive/themes/basic/images/annonce-24.png -text
prive/themes/basic/images/annonce-add-16.png -text
prive/themes/basic/images/annonce-add-24.png -text
prive/themes/basic/images/annonce-del-16.png -text
prive/themes/basic/images/annonce-del-24.png -text
prive/themes/basic/images/annonce-edit-16.png -text
prive/themes/basic/images/annonce-edit-24.png -text
prive/themes/basic/images/annonce-new-16.png -text
prive/themes/basic/images/annonce-new-24.png -text
prive/themes/basic/images/article-16.png -text
prive/themes/basic/images/article-24.png -text
prive/themes/basic/images/article-add-16.png -text
prive/themes/basic/images/article-add-24.png -text
prive/themes/basic/images/article-del-16.png -text
prive/themes/basic/images/article-del-24.png -text
prive/themes/basic/images/article-edit-16.png -text
prive/themes/basic/images/article-edit-24.png -text
prive/themes/basic/images/article-new-16.png -text
prive/themes/basic/images/article-new-24.png -text
prive/themes/basic/images/auteur-0minirezo-16.png -text
prive/themes/basic/images/auteur-0minirezo-24.png -text
prive/themes/basic/images/auteur-16.png -text
prive/themes/basic/images/auteur-1comite-16.png -text
prive/themes/basic/images/auteur-1comite-24.png -text
prive/themes/basic/images/auteur-24.png -text
prive/themes/basic/images/auteur-5poubelle-16.png -text
prive/themes/basic/images/auteur-5poubelle-24.png -text
prive/themes/basic/images/auteur-6forum-16.png -text
prive/themes/basic/images/auteur-6forum-24.png -text
prive/themes/basic/images/auteur-add-16.png -text
prive/themes/basic/images/auteur-add-24.png -text
prive/themes/basic/images/auteur-del-16.png -text
prive/themes/basic/images/auteur-del-24.png -text
prive/themes/basic/images/auteur-edit-16.png -text
prive/themes/basic/images/auteur-edit-24.png -text
prive/themes/basic/images/auteur-new-16.png -text
prive/themes/basic/images/auteur-new-24.png -text
prive/themes/basic/images/backup-16.png -text
prive/themes/basic/images/base-backup-16.png -text
prive/themes/basic/images/base-backup-24.png -text
prive/themes/basic/images/base-maintenance-16.png -text
prive/themes/basic/images/base-maintenance-24.png -text
prive/themes/basic/images/base-restore-16.png -text
prive/themes/basic/images/base-restore-24.png -text
prive/themes/basic/images/boussole-16.png -text
prive/themes/basic/images/boussole-24.png -text
prive/themes/basic/images/breve-16.png -text
prive/themes/basic/images/breve-24.png -text
prive/themes/basic/images/breve-add-16.png -text
prive/themes/basic/images/breve-add-24.png -text
prive/themes/basic/images/breve-del-16.png -text
prive/themes/basic/images/breve-del-24.png -text
prive/themes/basic/images/breve-edit-16.png -text
prive/themes/basic/images/breve-edit-24.png -text
prive/themes/basic/images/breve-new-16.png -text
prive/themes/basic/images/breve-new-24.png -text
prive/themes/basic/images/cache-empty-16.png -text
prive/themes/basic/images/cadenas-16.png -text
prive/themes/basic/images/cadenas-24.png -text
prive/themes/basic/images/calendrier-16.png -text
prive/themes/basic/images/calendrier-add-16.png -text
prive/themes/basic/images/calendrier-del-16.png -text
prive/themes/basic/images/calendrier-edit-16.png -text
prive/themes/basic/images/calendrier-new-16.png -text
prive/themes/basic/images/config-contenu-16.png -text
prive/themes/basic/images/config-contenu-24.png -text
prive/themes/basic/images/config-interaction-16.png -text
prive/themes/basic/images/config-interaction-24.png -text
prive/themes/basic/images/configuration-16.png -text
prive/themes/basic/images/configuration-48.png -text
prive/themes/basic/images/del-16.png -text
prive/themes/basic/images/del-24.png -text
prive/themes/basic/images/edit-16.png -text
prive/themes/basic/images/edit-24.png -text
prive/themes/basic/images/edition-48.png -text
prive/themes/basic/images/forum-16.png -text
prive/themes/basic/images/forum-24.png -text
prive/themes/basic/images/forum-add-16.png -text
prive/themes/basic/images/forum-del-16.png -text
prive/themes/basic/images/forum-edit-16.png -text
prive/themes/basic/images/forum-interne-16.png -text
prive/themes/basic/images/forum-interne-24.png -text
prive/themes/basic/images/forum-new-16.png -text
prive/themes/basic/images/groupe-mot-16.png -text
prive/themes/basic/images/groupe-mot-24.png -text
prive/themes/basic/images/groupe-mot-add-16.png -text
prive/themes/basic/images/groupe-mot-add-24.png -text
prive/themes/basic/images/groupe-mot-del-16.png -text
prive/themes/basic/images/groupe-mot-del-24.png -text
prive/themes/basic/images/groupe-mot-edit-16.png -text
prive/themes/basic/images/groupe-mot-edit-24.png -text
prive/themes/basic/images/groupe-mot-new-16.png -text
prive/themes/basic/images/groupe-mot-new-24.png -text
prive/themes/basic/images/identite-16.png -text
prive/themes/basic/images/identite-24.png -text
prive/themes/basic/images/information-16.png -text
prive/themes/basic/images/information-24.png -text
prive/themes/basic/images/information-perso-16.png -text
prive/themes/basic/images/information-perso-24.png -text
prive/themes/basic/images/langue-16.png -text
prive/themes/basic/images/langue-24.png -text
prive/themes/basic/images/message-16.png -text
prive/themes/basic/images/message-24.png -text
prive/themes/basic/images/message-add-16.png -text
prive/themes/basic/images/message-add-24.png -text
prive/themes/basic/images/message-del-16.png -text
prive/themes/basic/images/message-del-24.png -text
prive/themes/basic/images/message-edit-16.png -text
prive/themes/basic/images/message-edit-24.png -text
prive/themes/basic/images/message-new-16.png -text
prive/themes/basic/images/message-new-24.png -text
prive/themes/basic/images/messagerie-16.png -text
prive/themes/basic/images/messagerie-24.png -text
prive/themes/basic/images/mot-16.png -text
prive/themes/basic/images/mot-24.png -text
prive/themes/basic/images/mot-add-16.png -text
prive/themes/basic/images/mot-add-24.png -text
prive/themes/basic/images/mot-del-16.png -text
prive/themes/basic/images/mot-del-24.png -text
prive/themes/basic/images/mot-edit-16.png -text
prive/themes/basic/images/mot-edit-24.png -text
prive/themes/basic/images/mot-new-16.png -text
prive/themes/basic/images/mot-new-24.png -text
prive/themes/basic/images/new-16.png -text
prive/themes/basic/images/new-24.png -text
prive/themes/basic/images/pense-bete-16.png -text
prive/themes/basic/images/pense-bete-24.png -text
prive/themes/basic/images/petition-16.png -text
prive/themes/basic/images/petition-24.png -text
prive/themes/basic/images/petition-add-16.png -text
prive/themes/basic/images/petition-add-24.png -text
prive/themes/basic/images/petition-del-16.png -text
prive/themes/basic/images/petition-del-24.png -text
prive/themes/basic/images/petition-edit-16.png -text
prive/themes/basic/images/petition-edit-24.png -text
prive/themes/basic/images/petition-new-16.png -text
prive/themes/basic/images/petition-new-24.png -text
prive/themes/basic/images/plus-16.png -text
prive/themes/basic/images/plus-info-16.png -text
prive/themes/basic/images/poubelle-16.png -text
prive/themes/basic/images/poubelle-24.png -text
prive/themes/basic/images/publication-48.png -text
prive/themes/basic/images/racine-16.png -text
prive/themes/basic/images/racine-24.png -text
prive/themes/basic/images/reaction-48.png -text
prive/themes/basic/images/referer-16.png -text
prive/themes/basic/images/referer-24.png -text
prive/themes/basic/images/rss-16.png -text
prive/themes/basic/images/rubrique-12.png -text
prive/themes/basic/images/rubrique-16.png -text
prive/themes/basic/images/rubrique-24.png -text
prive/themes/basic/images/rubrique-add-16.png -text
prive/themes/basic/images/rubrique-add-24.png -text
prive/themes/basic/images/rubrique-del-16.png -text
prive/themes/basic/images/rubrique-del-24.png -text
prive/themes/basic/images/rubrique-edit-16.png -text
prive/themes/basic/images/rubrique-edit-24.png -text
prive/themes/basic/images/rubrique-new-16.png -text
prive/themes/basic/images/rubrique-new-24.png -text
prive/themes/basic/images/secteur-12.png -text
prive/themes/basic/images/secteur-16.png -text
prive/themes/basic/images/secteur-24.png -text
prive/themes/basic/images/site-16.png -text
prive/themes/basic/images/site-24.png -text
prive/themes/basic/images/site-add-16.png -text
prive/themes/basic/images/site-add-24.png -text
prive/themes/basic/images/site-del-16.png -text
prive/themes/basic/images/site-del-24.png -text
prive/themes/basic/images/site-edit-16.png -text
prive/themes/basic/images/site-edit-24.png -text
prive/themes/basic/images/site-new-16.png -text
prive/themes/basic/images/site-new-24.png -text
prive/themes/basic/images/statistique-16.png -text
prive/themes/basic/images/statistique-24.png -text
prive/themes/basic/images/suivi-16.png -text
prive/themes/basic/images/supprimer-16.png -text
prive/themes/basic/images/supprimer-24.png -text
prive/themes/basic/images/supprimer-8.png -text
prive/themes/basic/images/synchro-16.png -text
prive/themes/basic/images/synchro-24.png -text
prive/themes/basic/images/traduction-16.png -text
prive/themes/basic/images/traduction-24.png -text
prive/themes/basic/images/traduction-add-16.png -text
prive/themes/basic/images/traduction-add-24.png -text
prive/themes/basic/images/traduction-del-16.png -text
prive/themes/basic/images/traduction-del-24.png -text
prive/themes/basic/images/traduction-edit-16.png -text
prive/themes/basic/images/traduction-edit-24.png -text
prive/themes/basic/images/traduction-new-16.png -text
prive/themes/basic/images/traduction-new-24.png -text
prive/themes/basic/images/warning-16.png -text
prive/themes/basic/images/warning-24.png -text
prive/themes/basic/images/warning-48.png -text
prive/themes/basic/style_prive_theme.html -text
