<plugin>
	<nom>Skins</nom>
	<auteur>Collectif SPIP,
	[schollidesign pour l'icone->http://schollidesign.deviantart.com/art/Human-O2-Iconset-105344123]</auteur>
	<icon>images/themes-32.png</icon>
	<licence>(c) 2009 GPL</licence>
	<version>1.0.0</version>
	<etat>dev</etat>
	<description>Des th&egrave;mes pour l'espace priv&eacute;</description>
	<prefix>themes</prefix>
	<categorie>outil</categorie>
	<necessite id="SPIP" version="[2.1.0 dev;)" />
</plugin>
